@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /*
   * Primary
   */
  --purple-300: hsl(276, 100%, 81%);
  --purple-600: hsl(276, 55%, 52%);
  --gray-500: hsl(270, 7%, 64%);
  --gray-300: hsl(206, 6%, 79%);
  --purple-950: hsl(271, 36%, 24%);

  /*
   * Secondary
   */
  --white: hsl(0, 100%, 100%);
  --gray-100: hsl(270, 20%, 96%);
  --purple-950: hsl(271, 36%, 24%);
  --pink-400: hsl(289, 100%, 72%);

  /*
   * Gradients
   */
  --pink-500: hsl(293, 100%, 63%);
  --purple-500: hsl(264, 100%, 61%);

  /*====================
         TYPOGRAPHY
   ====================*/
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;

  /*====================
         SPACING
   ====================*/
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;

  /*
   * Font Weights
   */
  --weight-400: 400;
  --weight-500: 500;
  --weight-700: 700;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: var(--white);

  display: flex;
  flex-direction: column;
}

main {
  position: relative;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
  min-width: 375px;
  overflow-x: hidden;
}

.background {
  position: absolute;
  z-index: -1;

  height: 60vh;
}

.dark-background {
  top: 0;
  left: -3rem;

  background: linear-gradient(60deg, var(--purple-500), var(--pink-500));
  width: clamp(15rem, 40vw, 31rem);
  border-radius: 0 0 40rem clamp(7rem, 40vw, 30rem);
}

.light-background {
  bottom: 0;
  right: -5rem;

  background: linear-gradient(var(--purple-500));
  width: clamp(15rem, 40vw, 26.5rem);
  opacity: 0.05;
  border-radius: 40rem clamp(7rem, 40vw, 30rem) 0 0;
}

.mobile {
  background-color: var(--white);
  padding: var(--space-xs);
  margin-block-start: 3rem;
  max-width: 18.5rem;
  border-radius: 2rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.18);
}

.screen {
  background-color: var(--gray-100);
  border-radius: 2rem;
  height: 100%;
  padding-block-end: var(--space-xs);
}

.mobile-header {
  position: relative;

  display: grid;
  grid-template-columns: 1fr auto;
  align-content: end;
  width: 100%;
  border-radius: 2rem 2rem 0.5rem 0.5rem;

  background: linear-gradient(30deg, var(--purple-500), var(--pink-500));
  color: var(--white);
  padding-block-start: var(--space-lg);
  padding-block-end: var(--space-sm);
  padding-inline: var(--space-sm);
}

.mobile-header::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  width: 50%;
  height: 1.5rem;
  background-color: var(--white);
  border-radius: 0 0 1rem 1rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.back-arrow {
  color: var(--white);
  font-size: var(--text-base);
}

.profile-picture {
  display: grid;
  place-items: center;

  background-color: var(--white);
  border-radius: 50%;
  padding: 0.1rem;
}

.profile-picture img {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.name,
.bio {
  margin: 0;
}

.name {
  font-size: var(--text-base);
  font-weight: var(--weight-500);
}

.bio {
  font-size: var(--text-xs);
  color: var(--purple-300);
}

.settings {
  color: var(--white);
  font-size: var(--text-base);
  font-weight: var(--weight-700);

  align-self: center;
}

.chats {
  display: grid;
  gap: var(--space-xs);

  padding: var(--space-xs);
}

.message {
  background-color: #ede4f2;
  color: var(--purple-600);
  max-width: 70%;
  padding: var(--space-xs);
  margin: 0;
  border-radius: 0.5rem;
  font-size: var(--text-xs);
}

.sent-msg {
  justify-self: end;
  border-radius: 1rem;
}

p.sent-msg {
  background-color: var(--white);
  color: var(--gray-500);
  box-shadow: 0 5px 10px hsla(206, 6%, 79%, 0.3);
  border-bottom-right-radius: 0.25rem;
}

.dog-images {
  display: flex;
  gap: 0.75rem;

  background: none;
  padding: 0;
}

.dog-images img {
  width: 3rem;
  min-width: 0;
  height: 3rem;

  border-radius: 0.5rem;
}

.option {
  display: flex;
  justify-content: space-between;

  background: linear-gradient(25deg, var(--purple-500), var(--pink-500));
  color: var(--white);
  width: 80%;
  padding-inline: var(--space-xs);
  border-radius: 0.75rem;
  font-size: var(--text-xs);

  box-shadow: 0 5px 10px hsla(206, 6%, 79%, 0.3);
}

.message:not(.sent-msg),
.option {
  border-bottom-left-radius: 0.25rem;
}

.option div {
  display: flex;
  gap: var(--space-xs);
  align-items: center;

  padding: 0;
}

.option-label {
  opacity: 0.8;
  font-weight: var(--weight-500);
}

.radio-btn {
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--pink-400);
  border-radius: 50%;
}

.price {
  font-weight: var(--weight-700);
  font-size: var(--text-sm);
}

.text-area {
  display: flex;
  align-items: center;

  background-color: var(--white);
  padding-block: 0.25rem;
  padding-inline-start: var(--space-sm);
  padding-inline-end: var(--space-xs);
  margin-block-start: var(--space-sm);
  border-radius: 1.5rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.18);
}

.text-placeholder {
  flex: 1;

  color: var(--gray-300);
  font-size: var(--text-xs);
}

.send-btn {
  background-color: var(--purple-950);
  color: var(--white);
  padding: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: var(--text-base);
  font-weight: var(--weight-700);

  display: grid;
  place-items: center;
}

.main-section {
  padding: var(--space-sm);
  max-width: 30rem;
}

.title {
  color: var(--purple-950);
}

.main-section p {
  color: var(--gray-500);
  text-align: center;
  line-height: 3ch;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (width > 900px) {
  main {
    flex-direction: row;
    justify-content: center;
    gap: 8.5rem;
  }

  .background {
    height: 90vh;
  }

  .mobile {
    margin: 0;
  }

  .main-section p {
    text-align: start;
  }
}
