@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /*
   * Text
   */
  --purple-300: hsl(276, 100%, 81%);
  --purple-600: hsl(276, 55%, 52%);
  --gray-500: hsl(270, 7%, 64%);
  --gray-300: hsl(206, 6%, 79%);
  --purple-950: hsl(271, 36%, 24%);

  /*
   * Gradients
   */
  --pink-500: hsl(293, 100%, 63%);
  --purple-500: hsl(264, 100%, 61%);

  /*
   * Secondary
   */
  --white: hsl(0, 100%, 100%);
  --gray-100: hsl(270, 20%, 96%);
  --purple-950: hsl(271, 36%, 24%);
  --pink-400: hsl(289, 100%, 72%);

  /*
   * Font Weights
   */
  --weight-400: 400;
  --weight-500: 500;
  --weight-700: 700;
}

body {
  font-family: "Rubik", sans-serif;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
